@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: all 2s ease-out;
}

.show {
  animation: fadeInUp 1s ease-out forwards;
}
